.btn {
    margin: .4rem;
}

h4 {

    left: 300px;

}

#userDashboardDiv {
    height: 100vh;
}

#userDisplayDiv {
    background-color: #91a3b0;
    color: white;


    --neon-text-color: #03A9F4;
    --neon-border-color:#F50057;
}

/* #Responsive image{

   


} */
#welcomeMessege {
    font-size: 5rem;
    font-family: sans-serif;
    color: white;
    width: 100pt;
    margin-left: 400px;
}

h3 { 
    margin-left: 400px;
    column-width: auto;
    font-size: 3rem;
    color: #bfdbf7;
    font-family: sans-serif;
}



.card {
    box-shadow: 0px 6px 6px -3px rgba(0,0,0,0.2),0px 10px 14px 1px rgba(0,0,0,0.14),0px 4px 18px 3px rgba(0,0,0,0.12);
    border-radius: 8px;
  }
  
  .card-deck {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  
  .card-img-top {
    height: 20rem;
  }


#dropselect{

    width: 400px;
    margin-left: 400px;
}

#Question{  
    margin-left: 400px;
    position: relative;
    color: white;
    font-family: sans-serif;
    font-size: 2rem;
}
/* #welcomeMessege{
    font-size: 5rem;
    font-weight: 200;
    font-style: italic;
    display: table;
    color: #fff;
    padding: 2.5rem;
    border: 0.4rem solid #fff;
    margin: 1.3rem;
    border-radius: 2rem;
    text-transform: uppercase;    
    animation: flicker 2.5s infinite alternate;

    text-shadow:
            -0.2rem -0.2rem 1rem #fff,
            0.2rem 0.2rem 1rem #fff,
            0 0 2rem var(--neon-text-color),
            0 0 4rem var(--neon-text-color),
            0 0 6rem var(--neon-text-color),
            0 0 8rem var(--neon-text-color),
            0 0 10rem var(--neon-text-color);
        
    box-shadow:
        0 0 .5rem #fff,
        inset 0 0 .5rem #fff,
        0 0 1rem var(--neon-border-color),
        inset 0 0 1rem var(--neon-border-color),
        0 0 4rem var(--neon-border-color),
        inset 0 0 3rem var(--neon-border-color);

} */

/* Animate neon flicker */
/* @keyframes flicker {
    
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
    
        text-shadow:
            -0.2rem -0.2rem 1rem #fff,
            0.2rem 0.2rem 1rem #fff,
            0 0 2rem var(--neon-text-color),
            0 0 4rem var(--neon-text-color),
            0 0 6rem var(--neon-text-color),
            0 0 8rem var(--neon-text-color),
            0 0 10rem var(--neon-text-color);
        
        box-shadow:
            0 0 .5rem #fff,
            inset 0 0 .5rem #fff,
            0 0 1rem var(--neon-border-color),
            inset 0 0 1rem var(--neon-border-color),
            0 0 4rem var(--neon-border-color),
            inset 0 0 3rem var(--neon-border-color);        
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
        box-shadow: none;
    }    
} */