.register{
  background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
  min-height: 82.6vh;
  align-items: center;
}

.register-left{
  text-align: center;
  color: #fff;
  margin-top: 4%;
}

.register-left img{
  margin-top: 15%;
  margin-bottom: 5%;
  width: 20%;
  -webkit-animation: mover 2s infinite  alternate;
  animation: mover 1s infinite  alternate;
}

@-webkit-keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}

@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}

.register-form{
  padding: 5%;
  margin-top: 5%;
}

.btnRegister{
  float: right;
  background: #0062cc;
  color: #fff;
  font-weight: 600;
  width: 50%;
  cursor: pointer;
}

.register-heading{
  text-align: center;
  margin-top: 8%;
  color: #fff;
}
