.card-title {
    padding-top: 1rem;
    padding-bottom: 0rem;
    padding-right: 1rem;
    padding-left: 1rem;
}

.card-body {
    margin: 0rem;
    padding: 0rem;
}

.card {
    margin: 1rem;
    padding: 0rem;
}