/*#region MainComponent*/

/*#endregion */

/*#region LoginComponent*/

/*#endregion */

/*#region AccountPreviewComponent*/

/*#endregion */

/*#region UserDashboardComponent*/

#userDashboardDiv {
    height: 100vh;
}

#accountDisplayDiv {
    background-color: lightslategray;
}

#userDisplayDiv {
    background-color: black;

    --neon-text-color: #03A9F4;
    --neon-border-color:#F50057;
}

#welcomMessege{
    font-size: 5rem;
    font-weight: 200;
    font-style: italic;
    display: table;
    color: #fff;
    padding: 2.5rem;
    border: 0.4rem solid #fff;
    margin: 1.3rem;
    border-radius: 2rem;
    text-transform: uppercase;    
    animation: flicker 2.5s infinite alternate;  
}

/* Animate neon flicker */
@keyframes flicker {
    
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
    
        text-shadow:
            -0.2rem -0.2rem 1rem #fff,
            0.2rem 0.2rem 1rem #fff,
            0 0 2rem var(--neon-text-color),
            0 0 4rem var(--neon-text-color),
            0 0 6rem var(--neon-text-color),
            0 0 8rem var(--neon-text-color),
            0 0 10rem var(--neon-text-color);
        
        box-shadow:
            0 0 .5rem #fff,
            inset 0 0 .5rem #fff,
            0 0 1rem var(--neon-border-color),
            inset 0 0 1rem var(--neon-border-color),
            0 0 4rem var(--neon-border-color),
            inset 0 0 3rem var(--neon-border-color);        
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
        box-shadow: none;
    }    
}

/*#endregion */